{% extends 'films/base.html' %}
{% load films_tags %}
{% load django_bootstrap5 %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'films:film_list' %}">{{ 'films:film'|model_verbose_name_plural }}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'films:film_detail' conv.group.film.id %}">
          {{ conv.group.film.name }}
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'films:group_detail' conv.group.id %}">
          {{ conv.group.name }}
        </a>
      </li>
      <li class="breadcrumb-item active">{{ conv.name }}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  {% if user|group_admin_or_superuser:conv.group %}
    <div class="d-grid gap-2 my-4">
      <div class="btn-group btn-group-lg">
        {% if conv.closed_at %}
          <a href="{% url 'films:conversation_open' conv.id %}" class="btn btn-success w-100">
            <h4>Открыть обсуждение</h4>
          </a>
        {% else %}
          <a href="{% url 'films:conversation_close' conv.id %}" class="btn btn-danger w-100">
            <h4>Закрыть обсуждение</h4>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if messes %}
    {% for mess in messes %}
      {% include 'films/comment/comment.html' %}
    {% endfor %}
    {% bootstrap_pagination messes %}
  {% endif %}
  {% if user|in_group_or_superuser:conv.group and not conv.closed_at %}
    {% include 'films/comment/create.html' %}
  {% endif %}
{% endblock %}